<div class="calculator">
	<div class="inner">
		<h3>Wall Shingle Laid Single Course Calculator</h3>
		<form id="single-wall-shingle-calc">
			<div class="input">
				<label for="sqft-SS">Enter square feet:</label>
				<input id="sqft-SS" type="number">
			</div>
			<div class="input">
				<label for="single-shingle-size">Select shingle size and exposure:</label>
				<select id="single-shingle-size">
	        <optgroup label='16" Shingles'>
		        <option value=".01212">5 1/2inch Exposure</option>
		        <option value=".01105">6inch Exposure</option>
		        <option value=".0105">6 1/2inch Exposure</option>
		        <option value=".01">7inch Exposure</option>
		        <option value=".00955">7 1/2inch Exposure</option>
	        </optgroup>
	        <optgroup label='18" Shingles'>
		        <option value=".0124">6inch Exposure</option>
		        <option value=".01167">6 1/2inch Exposure</option>
		        <option value=".01105">7inch Exposure</option>
		        <option value=".0105">7 1/2inch Exposure</option>
		        <option value=".00955">8inch Exposure</option>
		        <option value=".00913">8 1/2inch Exposure</option>
	        </optgroup>
	        <optgroup label='24" Shingles'>
		        <option value=".0131">8inch Exposure</option>
		        <option value=".0124">8 1/2inch Exposure</option>
		        <option value=".01167">9inch Exposure</option>
		        <option value=".01105">9 1/2inch Exposure</option>
		        <option value=".0105">10inch Exposure</option>
		        <option value=".01">10 1/2inch Exposure</option>
		        <option value=".00955">11inch Exposure</option>
		        <option value=".00913">11 1/2inch Exposure</option>
	        </optgroup>
	      </select>
			</div>

			<input type="submit" value="Calculate">

			<h3>Total Square of Shingles Needed: <span id="ss-total" class="answer"></span></h3>
		</form>
	</div>
</div>