<% provide :title, 'About Us' %>

<h1>About us</h1>

<p class="lead">
	Marley Brown Lumber Service has been locally owned since 1946. Specializing in kiln dried framing lumber and cvg Douglas fir finish. For more information on the items we offer check out our products page. We deliver to the Portland Metro area. For more information go to our <%= link_to 'location page', '/location' %>.
</p>