<% provide :title, 'Contact' %>
<div>
	<div class="col-lg-12">
		<h1>Contact Us</h1>
	</div>
	<div class="prominent">
		<p class="lead">Have questions? We'd love to hear from you. Shoot us an email or give us call. Either way, we can't wait to chat!</p>
	</div>
	<div class="aside">
		<p class="lead">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-square fa-stack-2x"></i>
			  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
			</span>
			(503) 775-8621<br>
			<span class="fa-stack fa-lg">
			  <i class="fa fa-square fa-stack-2x"></i>
			  <i class="fa fa-print fa-stack-1x fa-inverse"></i>
			</span>
			(503) 775-8622<br>
			<span class="fa-stack fa-lg email">
			  <i class="fa fa-square fa-stack-2x"></i>
			  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
			</span>
			<span class="fa-stack fa-lg email">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>

			<script language=JavaScript> 
			<!-- 
			var user = "daniel";
			var usr2 ="stuart"; 
 			var host = "brownlumberservice.com"; 
 			var link = user + "@" + host; 
			var lnk2 = usr2 + "@" + host;
 			$('.email').first().after(" <a hre" + "f=ma" + "ilto:" + user + "@" + host + ">" + link + "</a><br>");
			$('.email').last().after(" <a hre" + "f=ma" + "ilto:" + usr2 + "@" + host + ">" + lnk2 + "</a>"); 
 			//--> </script>
		</p>
	</div>
</div>
