<% provide :title, 'Contact' %>
<div>
	<h1>Contact Us</h1>

	<p class="lead">Have questions? We'd love to hear from you. Shoot us an email or give us call. Either way, we can't wait to chat!</p>
</div>