<% provide :title, 'Delivery' %>

<h1>Delivery</h1>

<p>$300 minimum purchase for deliveries, plus delivery charge.</p>

<p>Additional Charges:</p>

<ul>
	<li>Concrete, cement, and mixes: add 75¢ per bag</li>
	<li>Sheetrock: add 75¢ per sheet</li>
	<li>Particleboard: add 75¢ per sheet</li>
</ul>

<p>Updated: June 16, 2017</p>
