<% provide :title, 'Home' %>
<div class="prominent">
	<%= image_tag "main-test.png", alt: "Brown Lumber Yard" %>
</div>
<div class="aside">
	<h1>Welcome</h1>

	<p>
		Brown Lumber is not only a full service lumber yard, we also carry Hardware,
		Plumbing, and Electrical.
	</p>
	<p>
		So come on in, have a free doughnut, some coffee, and discuss your project needs
		with our non-experts.
	</p>

	<p>
		<strong>Hours</strong><br>
		Monday - Friday<br>
		7:30am - 5:00pm
	</p>

	<p>
		<strong>Holiday schedule</strong><br>
		<strong>Closed</strong> Nov 28 - DEC 1<br>
		Dec TBD<br> 
		Dec TBD
	</p>
</div>
