<% provide :title, 'Location' %>

<div class="map">
	<!-- Embedded Google Maps -->
	<iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x5495a07b3f781541%3A0x566da16a45636c83!2s4000+SE+Powell+Blvd%2C+Portland%2C+OR+97202!5e0!3m2!1sen!2sus!4v1386700850616" width="1280" height="400" frameborder="0" style="border:0"></iframe>
</div>

<div>
	<h4>4000 SE Powell Blvd Portland, OR 97202</h4>

	<p>Between I-5 and I-205 across the street from Les Schwab Tires on the south side of Powell.</p>
	<p><strong>Delivery drivers please use the upper parking lot for deliveries.</strong></p>
</div>