$clouds: #ecf0f1;
$silver: #bdc3c7;
$asbestos: #7f8c8d;

/* Bootstrap mixin variables */
$brand-primary: red;
$brand-secondary: $asbestos;
$navbar-default-link-color: $asbestos;
$navbar-default-link-hover-color: red;
$navbar-default-link-hover-bg: transparent;

@import "bootstrap";

html, body {
	height: 100%;
}

/* Shadow at the top of browser window */
body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;

  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
     -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
          box-shadow: 0px 0px 10px rgba(0,0,0,.8);

  z-index: 100;
}

.header {
	@extend .text-center;
	background-image: image-url("grey.png");
	padding-top: 10px;
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
		 -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
					box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	
	img {
		@extend .img-responsive;
		margin: 0 auto 10px auto;
	};

	nav {
		background-color: transparent;
		border: none;
		border-radius: 0px;
		// border-bottom: 5px solid $asbestos;
		font-size: 1.2em;
	};
}

.footer {
	background-image: image-url("grey.png");
	border-top: 5px solid $asbestos;
	padding-top: 10px;
	margin-top: 20px;
	height: 50%;

	p {
		@extend .text-muted;
	};
}

.main-section {
  @include make-row();
  height: 100%;

  .prominent {
  	img {
  		@extend .img-responsive;
  		@include make-lg-column(7);
  	}
  }

  .aside {
  	@include make-lg-column(5);
  };	
}

.sidebar {
	@include make-md-column(2);

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		ul {
			list-style: square;
			margin-left: 15px;
		}
	}
}

.content {
	@include make-md-column(10);
	padding-top: 0px;
}

.category-thumbnail {
	@include make-md-column(4);
	float: left;

	div.inner {
		@extend .thumbnail;
		border: none;
		box-shadow: 0 4px 5px -2px rgba(0,0,0,0.4);
		border-radius: 0;
		vertical-align: bottom;

		img {
			@extend .img-responsive;
		};

		a {
			color: black;
		}

		h3 {
			display: inline-block;
			margin: 5px 0 0 0;
		}
	}
}

.product_thumbnail {
	border-bottom: 1px solid $clouds;
	margin: 10px 0;
	padding-bottom: 10px;

	img {
		float: left;
		padding-right: 10px;
	}
}

.products-table {
	@extend .table;
	@extend .table-striped;
}

.product {
	img {
		float: left;
		padding: 0 10px 10px 0;
	}
}

.vignette {
	-webkit-box-shadow: inset 0px 0px 100px rgba(0,0,0,.8);
	   -moz-box-shadow: inset 0px 0px 100px rgba(0,0,0,.8);
	        box-shadow: inset 0px 0px 100px rgba(0,0,0,.8);
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.signin {
	@include make-lg-column(4);
	@include make-lg-column-offset(4);

	form {
		div {
			@extend .form-group;

			input {
				@extend .form-control;
			}
		}
	}
}
