<div class="product_thumbnail">
	<%= image_tag "http://placehold.it/100x100" %>
	<h4>
		<%= product.description %>
		<small><%= link_to "details", product %></small>
	</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra ante arcu, feugiat dictum sapien scelerisque eu. Morbi consequat fringilla magna in posuere. Ut eros justo, varius ac mi ut, pulvinar porta risus. Integer porta neque arcu, eget blandit ante elementum et. Donec congue pulvinar risus. Fusce est diam, gravida.
	</p>
</div>